body{
    background-image: url(qatar.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
h1{
    background-color: beige;
    color: black;
}
.pele2{
    width: 500px;
}
.pele{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.maradona2{
    width: 500px;
}
.maradona{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center; 
}
h2{
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3{
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.messi{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;     
}
.meshii{
    width: 500px;
}
.cr77{
    width: 500px;
}
.cr7{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.paolin{
    width: 500px;
}
.paolo{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;     
}